{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-4">
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Chyby při zpracování:</strong>
            <ul>
                {% for id, error in errors.items %}
                    <li><strong>{{ id }}:</strong> {{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if access %}
        <div class="alert alert-success" role="alert">
            <strong>Přístupové údaje:</strong>
            <ul>
                {% for id, message in access.items %}
                    <li><strong>{{ id }}:</strong> {{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_numbers">
                <h2>Identifikační číslo fyzické nebo právnické osoby</h2>
            </label>
            <input type="text" class="form-control" id="id_numbers" name="id_numbers"
                   placeholder="Zadejte jedno nebo více IČO. Příklad: 61063029, 26078201, 05201758">
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Odeslat</button>
        </div>
    </form>

    <br>
    <h1>Seznam společností</h1>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>Název</th>
            <th>IČO</th>
            <th>Právní forma</th>
            <th>Počet členů správní rady</th>
            <th>Počet partnerů</th>
            <th>Členové správní rady</th>
            <th>Partneři</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
        <tr>
            <td>{{ company.name }}</td>
            <td>{{ company.id_number }}</td>
            <td>{{ company.legal_form }}</td>
            <td>{{ company.member_count }}</td>
            <td>{{ company.partner_count }}</td>
            <td>
                <button class="btn btn-info collapse-btn" type="button"
                        data-toggle="collapse" data-target="#board-{{ company.pk }}"
                        aria-expanded="false">
                    Členové
                </button>
            </td>
            <td>
                <button class="btn btn-info collapse-btn" type="button"
                        data-toggle="collapse" data-target="#partners-{{ company.pk }}"
                        aria-expanded="false">
                    Partneři
                </button>
            </td>
        </tr>
        <tr id="board-{{ company.pk }}" class="collapse">
            <td colspan="7">
                <div class="card card-body">
                    <h5>Členové správní rady</h5>
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>Titul</th>
                            <th>Jméno</th>
                            <th>Registrace</th>
                            <th>Narození</th>
                            <th>Aktivní</th>
                            <th>Adresa</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in company.ordered_board_members %}
                        <tr>
                            <td>{{ member.title }}</td>
                            <td>{{ member.first_name }} {{member.last_name }}</td>
                            <td>{{ member.registration_date }}</td>
                            <td>{{ member.birth_date }}</td>
                            {% if member.active %}
                            <td>Ano</td>
                            {% else %}
                            <td>Ne</td>
                            {% endif %}
                            <td>
                                <button class="btn btn-info collapse-btn" type="button"
                                        data-toggle="collapse"
                                        data-target="#member-address-{{ member.pk }}"
                                        aria-expanded="false">
                                    Adresa
                                </button>
                            </td>
                        </tr>
                        <tr id="member-address-{{ member.pk }}" class="collapse">
                            <td colspan="5">
                                <div class="card card-body">
                                    <h5>Adresa</h5>
                                    <table class="table table-sm table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Ulice</th>
                                            <th>Číslo popisné</th>
                                            <th>Číslo orientační</th>
                                            <th>PSČ</th>
                                            <th>Město</th>
                                            <th>Země</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ member.addresses_list.street_name}}</td>
                                            <td>{{ member.addresses_list.house_number}}</td>
                                            <td>{{member.addresses_list.orientation_number}}</td>
                                            <td>{{ member.addresses_list.postal_code}}</td>
                                            <td>{{member.addresses_list.municipality_name}}</td>
                                            <td>{{ member.addresses_list.country_name}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Žádní členové správní rady</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr id="partners-{{ company.pk }}" class="collapse">
            <td colspan="7">
                <div class="card card-body">
                    <h5>Partneři</h5>
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>Typ</th>
                            <th>Jméno/Název</th>
                            <th>Podíl</th>
                            <th>Investice</th>
                            <th>Uhrazeno</th>
                            <th>Aktivní</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for partner in company.ordered_partners %}
                        <tr class="{% if partner.active %}table-success{% else %}table-danger{% endif %}">
                            <td>{{ partner.get_type_display }}</td>
                            {% if partner.type == "natural_person" %}
                            <td>{{ partner.first_name }} {{ partner.last_name }}</td>
                            {% else %}
                            <td>{{ partner.company_name }}</td>
                            {% endif %}
                            <td>{{ partner.ownership_percentage }}</td>
                            <td>{{ partner.investment_amount }}</td>
                            <td>{{ partner.paid_percentage }}</td>
                            {% if partner.active %}
                            <td>Ano</td>
                            {% else %}
                            <td>Ne</td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">Žádní partneři</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function(){
        $('.collapse-btn').on('click', function(e){
            e.stopPropagation();
            var target = $(this).data('target');
            var row = $(this).closest('tr');
            row.siblings().find('.collapse.show').collapse('hide');
            $(target).collapse('toggle');
        });
    });
</script>

{% endblock %}
